{% extends 'base.html.twig' %}

{% block title product.name %}


{% block body %}
<div class="row">
<div class="col mx-auto">
<article>
 
<article class="bg-white rounded shadow product">
   <div class="mw-100 rounded-top overflow-hidden">
      <img src="{{ product.picture }}" alt="{{ product.name }}" class="w-100 ">  
      </div>
      <h2 class="h5 ps-5 pt-3 text-secondary text-muted">{{ product.name }}</h2> 
      <h3 class="h6 ps-5 pt-3 text-secondary text-muted">{{ product.quantityProduct }}</h3>
      <h3 class="h6 ps-5 pt-3 text-secondary text-muted">{{ product.userPhone }}</h3>
      <div class="ps-5 pt-3 pb-5 pe-5 text-break">
      {{ product.description }}
      </div>
  {% if app.user == product.userId %}
     <div class="ps-3 pb-3"> 
<a href="{{  path('app_products_edit',{id: product.id}) }}" class="btn btn-light">Edit</a> 
<a href="{{  path('app_products_delete',{id: product.id}) }}" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-product-delete-form').submit();" class="btn btn-danger">Delete</a> 
{# <a href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-product-delete-form').submit(); " class="btn btn-light">Delete</a> #}
 </div>
  {% endif %}
  </article>


</div>
</div>



<form id="js-product-delete-form" action="{{  path('app_products_delete',{id: product.id}) }}" method="post" style="display:none;"> 
  {# <input type="hidden" name="csrf_token" value="{{ csrf_token('app_products_delete'~ product.id) }}"> #}
  <input type="hidden" name="_method" value="POST">
</form>
{% endblock %}